@import '../../../../styles/abstracts/variables';
@import "../../../../styles/abstracts/mixins";

.kpmg-default-select {
  display: none;
}
.kpmg-modal-header {
  background-color: $gray-100;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 19px 20px;

  .modal-title {
    font-family: $kpmg-font-family;
    font-size: 16px;
    color: $kpmg-gray-800;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
  }
  .btn-close {
    height: 18px;
    padding: 0 6px;
    width: 18px;
  }
}
.add-fund-form-wrapper {
  .e-multiselect.e-input-group.e-control-wrapper.e-checkbox {
    padding: 0px;

    .e-ddl-icon {
      right: 0px;
    }
  }
  .error-field .e-date-wrapper {
    border-color: $non-brand-red !important; /* Example border color */
}
  .e-delim-view.e-delim-values {
    line-height: 33px !important;
  }

  .e-input {
    margin-top: 2px;
    margin-right: -8px;
  }

  .e-dropdownlist .e-input-group {
    .e-input-group-icon {
      padding-left: 0 !important;
      right: 0px !important;

      &::before {
        padding-left: 0 !important;
      }
    }
  }
}
.modal-body {
  padding: 0 0px 0px 0;
  .row {
    margin-left: -15px;
    margin-right: -15px;
    .col-12, .col-3 {
      padding-left: 15px;
      padding-right: 15px;
    }
   }
  .field {
    margin: 0 0 30px;
  }
  .last-row{
    .field{
      margin: 0 0 0 20px !important;
    }
  } 
  .kpmg-input {
    color: $gray-800;
    font-family: $kpmg-font-family;
    padding-left: 9px;
    padding-top:6px !important;
    padding-bottom: 6px !important;
    border-radius: 2px;
    border: 1px solid $gray-blue-600;
    height: 35px;
    max-height: 35px !important;
    width: 100%;
    outline: none;
    box-shadow: none;
    margin: 0;
    line-height: 1.2;
    position: relative;
    &[type="text"] {
      font-size: 14px;
    }
    &[type="date"] {
      font-size: 16px;
    }

    &.kpmgicon-calender{
      font-family: $kpmg-font-family !important;
    }

    &.input-date {
      text-transform: uppercase;
      padding-right: 0;
      z-index: 0;

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        background-color: #eaeaea;
        padding: 9px;
        height: 20px ;
        width: 20px;
        border-left: 1px solid #747474;
        z-index: 9999;
        
      }
    }

    &:focus {
      outline: none;
    }
  }
  input.form-control.kpmgicon-calender.input-date::-webkit-calendar-picker-indicator {
    background: none;
  }
  
  input.form-control.kpmgicon-calender.input-date::before {
    font-family: $kpmg-icon-font-family !important;
    width: 38px;
    height: 35px;
    color: #4E5863;
    line-height: 34px;
    background-color: $gray-100;
    position: absolute;
    right: 0px;
    padding: 0 9px;
    text-indent: -0.6px;
    font-size: 21px;
    top: 0px;
  }
  
  .error-field {
    .kpmg-input {
      border: 2px solid $non-brand-red;
    }
    .e-multiselect.e-input-group.e-control-wrapper {
      border: 2px solid $non-brand-red !important;
    }
    .e-dropdownlist .e-input-group {
      border: 2px solid $non-brand-red !important;

    }
  }
  .app-form-label {
    font-family: $kpmg-font-family;
    font-size: 16px;
    color: $gray-800;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0 0 5px;
    display: block;
  }
  .e-multi-select-wrapper {
    cursor: pointer;
  }
  .e-input-group:not(.e-disabled):active:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper:not(.e-disabled):active:not(.e-success):not(.e-warning):not(.e-error) {
    box-shadow: none;
  }
  .e-input-group-icon.e-ddl-icon {
    background-color: $kpmg-gray-100 !important;
    border-radius: 0;
    color: $kpmg-bg-600 !important;
    font-weight: 900;
    height: 33px;
    min-width: 35px;
    
    &:hover {
      background-color: $kpmg-gray-100;
      color: $kpmg-md-blue !important;
    }
  }
}
.field-form-submit {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.field {
  position: relative;
  .error-field {
    color: $kpmg-red;
    font-size: 11px;
  }
}

.e-input-group.e-control-wrapper {
  border-radius: 2px !important;
  
  &.e-input-focus {
    box-shadow: 0px 2px 4px #bbb !important;
  }
}
.e-input-group-icon.e-ddl-icon {
  border-right: none !important;
}

.e-dropdownbase .e-list-item, .e-dropdownbase .e-list-item.e-item-focus {
 border-color: $gray-blue-600;
 font-family: $kpmg-font-family;
 line-height: 35px !important;
 min-height: 35px !important;
 text-indent: 10px !important;
}

.e-multi-select-list-wrapper .e-dropdownbase .e-list-item.e-item-focus {
  .e-checkbox-wrapper .e-frame.e-check {
    border-color: $white;
    color: $white;
  }
  &.e-hover {
    background-color: $white;
    color: $kpmg-m-blue;
  }
}
.kpmgicon-cross
{
  font-size: 18px;
  color: $kpmg-gray-800; 
  font-weight: bold !important;

 &::before{
  color:$kpmg-gray-800;
 }
}
.closeaddFundModel{
  padding :0px 0px !important;
}
.first-separator{
  margin: 10px 18px 15px 16px;
}
.last-separator{
  margin: 20px 18px 20px 16px;
  height: 1px;
  opacity: 1;
  color: #b0b5c1;
  background-color:#b0b5c1;
}
::ng-deep .engagementSetup {
  margin-left: 20px ;
  margin-right: 20px;
}
.add-fund-form-wrapper .btnBack{
  background-color: #fff!important;
  padding-top: 10px;
  padding-bottom: 9px;
  line-height: 16px;
}
// multiselect checkbox size
.e-checkbox-wrapper .e-check, .e-css.e-checkbox-wrapper .e-check {
  font-size: 10px;
}
.e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame{
    height: 20px;
    line-height: 18px;
    width: 20px;
    border: 2px solid $gray-blue-600 !important;
}
.e-dropdownbase .e-list-item{
  min-height: 35px;
  &:hover{
    background-color: $kpmg-m-blue;
  }
}
.e-dropdownbase {
  @include scrollBar_HZ_VT();
  ul {
    .e-list-item {
      color: $kpmg-gray-800 !important;
    }
   
    &:hover,
    .e-list-item.e-hover, .e-list-item.e-active:hover {
      color: $white !important;
      background-color: $kpmg-m-blue !important;
      .e-check {
        color: $kpmg-m-blue   !important;
        background-color: $white !important;
      }
    }
    .e-list-item.e-active {
      color: $white !important;
      background-color: $kpmg-m-blue !important;
      border: none !important;
      .e-check {
        background-color: $white !important;
        color: $kpmg-m-blue  !important;
      }
    }
  }
}
.add-fund-form-wrapper .msgMargin, .add-fund-form-wrapper .app-alert-box.alert{
  margin-top: 20px;
  margin-bottom: 20px;
}
.numberInput input[type=number]::-webkit-inner-spin-button, 
.numberInput input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.e-dropdownbase .e-list-item.e-item-focus {
  &:nth-child(even) {
    background-color: $kpmg-gray-100 !important;
  }
  &:nth-child(odd) {
    background-color: $white !important;
  }
  &.e-active, &.e-hover {
    background-color: #005eb8 !important;
    color: #fff;
  }
}

.e-datepicker .e-input-group .e-input-group-icon.e-date-icon{
  border-left: 1px solid $gray-blue-600 !important;
  margin: 0 !important;
  font-size: 16px !important;
  position: relative;
  color: $gray-blue-600 !important;
  font-weight: bolder !important;
  right: 0px;
  background-color: $kpmg-gray-100 !important;
  &::before {
    content: '\e93d' !important;
    @include kpmgIcon();
    font-size: 16px;
    color: $gray-blue-600 !important;
    font-weight: 400;
    height: 8px;
    margin-top: -6px;
  }
  &:hover {
    &::before {
      color: $kpmg-m-blue !important;
    }
  }
}