@import "src/app/styles/abstracts/_variables.scss";

.engagementSetup {
  display: block;
  width: 100%;
  border-top: 1px solid $non-brand-gray-l;
  border-bottom: 1px solid $non-brand-gray-l;
  margin: 10px 0 20px 0;

  .engagement-details {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    margin-right: 40px;
    max-width: 100%;
    color: $kpmg-gray-800;
  }

  .tittle {
    font-weight: 400;
  }

  .name {
    font-weight: 400;
    margin-right: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  .engagement-details .team-manage-screen-sub-titleDetails {
    display: block;
    font-size: 20px;
    color: #444444;
    font-weight: 700;
    padding: 15px 0 10px;
    line-height: 1;
    width: 15%;
    margin-left: -10px;
  }
}